<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gamblingfordummies.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gamblingfordummies.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gamblingfordummies</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$gamblingfordummies</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GamblingDBContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:mtai6c1v5q.database.windows.net,1433;Initial Catalog=gamblingfordummies_db;User ID=vangiefinal@mtai6c1v5q;Password=Vangie5800" Name="Data Source=tcp:mtai6c1v5q.database.windows.net,1433;Initial Catalog=gamblingfordummies_db;User Id=vangiefinal@mtai6c1v5q;Password=Vangie5800" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GamblingNewbies.Models.GamblingDBContext, GamblingNewbies" MigrationConfiguration="GamblingNewbies.Migrations.Configuration, GamblingNewbies" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:mtai6c1v5q.database.windows.net,1433;Initial Catalog=gamblingfordummies_db;User ID=vangiefinal@mtai6c1v5q;Password=Vangie5800" Name="Data Source=tcp:mtai6c1v5q.database.windows.net,1433;Initial Catalog=gamblingfordummies_db;User Id=vangiefinal@mtai6c1v5q;Password=Vangie5800" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:qcyj09knu5.database.windows.net,1433;Initial Catalog=GamblingDB;Integrated Security=False;User ID=vangiebuggy@qcyj09knu5;Password=1234~Asdf;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:qcyj09knu5.database.windows.net,1433;Database=GamblingDB;User ID=vangiebuggy@qcyj09knu5;Password=1234~Asdf;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mtai6c1v5q.database.windows.net,1433;Initial Catalog=gamblingfordummies_db;User Id=vangiefinal@mtai6c1v5q;Password=Vangie5800</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GamblingDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mtai6c1v5q.database.windows.net,1433;Initial Catalog=gamblingfordummies_db;User Id=vangiefinal@mtai6c1v5q;Password=Vangie5800</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>