@model IEnumerable<GamblingNewbies.Models.User>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>     
    </tr>
}

</table>
